//Containet
.chat-info {
    height: calc(100vh - 120px);
    overflow: auto;
    overflow-x: hidden;
}
.chat-info::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
.chat-info::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
// Thông tin người dùng
.info {
    padding-top: 30px;
    height: 250px;
    border-bottom: 1px solid white;
    text-align: center;
}
.info p {
    font-size: 13px;
    letter-spacing: -.13px;
    color: #666666;
    margin-top: 5px;
}
.info p strong {
    font-size: 16px;
    font-weight: 700 !important;
    color: black;
}
#avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 126px;
    height: 126px;
    border-radius: 50%;
    border: 3px solid lightblue;
}
// Dropdown
.drop-file{
    margin-left: 16px;
    background-color: unset;
    color: #666666;
    &:focus {
        outline: 0;
    }
}
#dropdown-file {
    align-items: center;
    margin-left: 16px;
}
.scroll-file{
    max-height: 250px;
    overflow: scroll;
    overflow-x: hidden;
}
.scroll-file::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
.scroll-file::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
.drop-img{
    margin-left: 16px;
    background-color: unset;
    color: #666666;
    &:focus {
        outline: 0;
    }
}
#dropdown-img{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}
.header {
    float: left;
    font-size: 13px;
    letter-spacing: -.13px;
    color: #666666;
}
// Danh sách file
.file {
    border-bottom: 1px solid white;
    line-height: 1.5;
}
.list-file {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    height: 28px;
}
.list-file a {
    text-decoration: underline;
    color: #2688e6;;
}
// Danh sách ảnh
#drop {
    margin-right: 24px;
    float: right;
    width: 16px;
    height: 16px;
}
.item {
    margin-left: 10px;
    font-size: 13px;
    color: #666666;
}
.img-preview {
    margin-bottom: 10px;
    align-items: center;
    width: 70px !important;
    height: 70px !important;
    object-fit: cover;
    cursor: pointer;
}
// Modal Image
.modal-content {
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 576px){
    .modal-dialog {
        width: max-content !important;
    }
  }