<div class="chat-info">
    <!-- Thông tin người dùng phía đối diện -->
    <div>
        <div class="info" *ngIf="user">
            <ngx-avatar size="120" id="avatar" [name]="user.firstName + ' ' + user.lastName"></ngx-avatar>
            <!--<img [src]="user.photo" alt="Avatar" id="avatar">-->
            <p><strong>{{ user.firstName + " " + user.lastName }}</strong></p>
            <p>{{ user.phone }}</p>
            <p>{{ user.email }}</p>
        </div>
    </div>
    <!-- Danh sách các file -->
    <div class="file">
        <button type="button" class="drop-file" data-toggle="dropdown" aria-expanded="false"
            (click)=toggleDisplayFile()>
            <img src="/assets/ICON/IconAppChat/13.svg" alt="Drop" id="drop">
            <p class="header">TỆP ĐÃ CHIA SẺ</p>
        </button>
        <div *ngIf="!isShowFile" id="dropdown-file">
            <div class="scroll-file">
                <ng-container *ngFor="let img of files" [ngSwitch]="img.typeOf">
                    <ul type="square">
                        <li class="list-file" *ngIf="img.type == 5">
                            <img *ngSwitchCase="'pdf'"
                                src="../../../../assets/ICON/pdf.png" alt="IconPDF"
                                style="width: 16px; height: 16px;" />
                            <img *ngSwitchCase="'doc' || 'docx'"
                                src="../../../../assets/ICON/docx.png" alt="IconDOC"
                                style="width: 16px; height: 16px;" />
                            <img *ngSwitchCase="'pptx'" src="../../../../assets/ICON/pptx.png" alt="IconPPTX"
                                style="width: 16px; height: 16px;" />
                            <img *ngSwitchDefault
                                src="../../../../assets/ICON/other.png" alt="IconOther"
                                style="width: 16px; height: 16px;" />
                            <a href="#" class="item">{{ img.content }}</a>
                        </li>
                    </ul>
                </ng-container>
            </div>
        </div>
    </div>
    <!-- Danh sách các file -->
    <!-- Danh sách các ảnh -->
    <div class="image">
        <button type="button" class="drop-img" data-toggle="dropdown" (click)=toggleDisplayImg()>
            <img src="/assets/ICON/IconAppChat/13.svg" alt="Drop" id="drop">
            <p class="header">ẢNH ĐÃ CHIA SẺ</p>
        </button>
        <div *ngIf="!isShowImg" id="dropdown-img">
            <ng-container *ngFor="let img of images">
                <div class="list-img">
                    <img class="img-preview" *ngIf="img.type == 2" [src]="img.filePath" data-toggle="modal"
                        data-target="#exampleModalCenter" (click)="ModalImage(img.filePath)">
                </div>
            </ng-container>
        </div>
    </div>
    <!-- Danh sách các ảnh -->
</div>