//Box chat
#message {
  position: relative;
  width: 100%;
  margin-right: 16px;
  padding: 7px 20px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 7.5px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  height: 39px;
  overflow: hidden;
  &:focus {
      outline: 0;
  }
}
.timeDiff {
  text-align: center;
  font-size: 12px;
  color: #757575;
}
.messages {
    height: calc(100vh - 180px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  @media screen and (max-width: 735px) {
    .messages {
      max-height: calc(100vh - 180px);
    }
  }
  @media screen and (min-width: 735px) {
    .messages ul li p {
      max-width: 300px;
    }
  }
  //Scrollbar
  .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
  // List message
  .messages ul li {
    display: inline-block;
    clear: both;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
  }
  .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
  }
  // Avatar
  .messages ul li.sent img {
    margin: 4px 8px 0 0;
  }
  .messages ul li.replies img {
    float: right;
    margin: 4px 0 0 8px;
  }
  .messages ul li img {
    vertical-align: bottom;
    border-radius: 50%;
    float: left;
  }
  .messages ul li .avatar {
    vertical-align: bottom;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
  }
  .messages ul li.sent ngx-avatar {
    margin: 4px 8px 0 0;
  }
  .messages ul li.replies ngx-avatar {
    float: right;
    margin: 4px 0 0 8px;
  }
  .messages ul li ngx-avatar {
    vertical-align: bottom;
    width: 32px;
    border-radius: 50%;
    float: left;
  }
  // Messages P
  .messages ul li.sent p {
    background: #eeeeee;
    word-wrap: break-word;
    white-space: pre-line;
    color: #212121;;
  }
  .messages ul li.sent .typing {
    padding: 10px 15px;
    border-radius: 20px;
    background: #eeeeee;
    width: max-content;
    display: inline-block;
  }
  .messages ul li.sent .typing .spin {
    width: 10px;
    height: 10px;
    margin-bottom: 3px;
  }
  .messages ul li.replies p {
    background: #2688e6;
    color: #ffffff;
    word-wrap: break-word;
    white-space: pre-line;
    float: right;
  }
  .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
  }
  // Messages A
  .messages ul li.sent a {
    background: #eeeeee;
    word-wrap: break-word;
    color: #212121;;
  }
  .messages ul li.replies a {
    background: #2688e6;
    color: #ffffff;
    word-wrap: break-word;
    float: right;
  }
  .messages ul li a {
    display: inline-block;
    text-decoration: underline;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
  }
  // Image messages
  .messages ul  li.sent .img-preview {
    border-radius: 5px;
    float: left;
    width: auto;
    max-height: 350px;
    cursor: pointer;
}
  .messages ul  li.replies .img-preview {
    border-radius: 5px;
    float: right;
    width: auto;
    max-height: 350px;
    cursor: pointer;
}
  // File messages
  .messages ul  li.replies .file {
    cursor: pointer;
  }

  .messages ul  li.sent .file {
    cursor: pointer;
  }

  // Send file
  .file {
    cursor: pointer;
  }
// Input messages
.sendMessage {
    position: relative;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}
  // Upload file
#info1 {
    margin-left: 24px;
    margin-right: 16px;
}
.label-file {
  margin-top: 7.5px;
  &:hover, &:focus, &:active {
    color: lightcoral !important;
    }
  cursor: pointer;
}
.inputFile {
  display: none;
}
  // Upload image
#info2 {
    margin-right: 20px;
}
.label-image {
  margin-top: 7.5px;
  &:hover, &:focus, &:active {
    color: lightcoral !important;
    }
  cursor: pointer;
}
.inputImage {
  display: none;
}
  // Buzz
#info3 {
    margin-right: 24px;
    background-color: #f86060;
    border-radius: 3px;
    width: 43px;
    height: 20px;
    overflow: hidden;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
// Smile Icon
#smile {
    position: absolute;
    right: 0;
    width: 32px;
    height: auto;
    bottom: -16px;
    margin-right: 32px;
    cursor: pointer;
}
// Modal Image
.modal-content {
  max-width: 100%;
  height: auto;
}


@media (min-width: 576px){
.modal-dialog {
    max-width: max-content;
    margin: 1.75rem auto;
}
}
// Pop-up
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: vi;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.popup .popupicon {
  visibility: visible;
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 160px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #757575;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  margin-left: -128px;
  margin-bottom: 10px;
  bottom: 16px;
}
/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.popup .popupicon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
 
.modal-image {
  max-width: 100%;
    max-height: 90vh;
}

.started {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 180px);
}
.started p {
  color: #757575;
  opacity: 0.8;
}
.started h4 {
  color: #757575;
  opacity: 0.8;
}
.started img {
  opacity: 0.9;
}