<!--Content -->
<div class="main_user_list" ng-controller="filterctrl">
  <!--Search -->
  <div class="search_user d-none d-lg-block">
    <div class="search tab">
      <img src="../../assets/ICON/IconAppChat/11.svg" alt="Search" class="search_icon">
      <input id="myInput" class="search_button tablinks" type="text" placeholder="Tìm kiếm cuộc trò chuyện"
        style="font-family:Arial, FontAwesome" [(ngModel)]="searchTerm" (ngModelChange)="search()"
        (focus)="openUser('userlist')" />
      <img src="../../assets/ICON/IconAppChat/3.svg" alt="Add" class="add_button">
      <!--Add button -->
    </div>
  </div>
  <!--Search -->
  <!--List conversation -->
  <div class="list-conversation tabcontent" id="conversation">
    <div class="list" *ngFor="let user of conversations" (click)="onSelectConv(user)" routerLink='/chat/{{user.id}}'>
      <div class="space" [class.zxc]="user.id == convId"></div>
      <!--Conversation -->
      <div id="user" class="users" [class.abc]="user.id == convId">
        <!--Thanh màu xanh khi select-->
        <ng-container *ngFor="let name of user.participants">
          <ngx-avatar size="28" *ngIf="name.userId != userID" [name]="name.name"></ngx-avatar>
        </ng-container>
        <!--<img [src]="user.photo" roundShape="true" /> -->
        <span class="status" *ngIf="user.state"></span>
        <div class="info d-none d-lg-block" style="display: none;width: 262px;">
          <!--Right -->
          <div class="left" style="float: left;" [class.bold]="0">
            <ng-container *ngFor="let name of user.participants">
              <p class="name" *ngIf="name.userId != userID">{{ name.name }}</p>
            </ng-container>
              <p class="lastMessage" *ngIf="user.lastMessage.sender">{{ user.lastMessage.content.content }}</p>
              <p class="lastMessage" *ngIf="!user.lastMessage.sender">Bạn: {{ user.lastMessage.content.content }}</p>
          </div>
          <!--Right -->
          <!--Left -->
          <div class="right">
            <div style="display:block;">
              <p class="time" *ngIf="calculateDiff(convertDate(user.lastMessage.createdAt)) < 1">
                {{ convertDate(user.lastMessage.createdAt) |  date: 'H:mm' }}
              </p>
              <p class="time"
                *ngIf="calculateDiff(user.lastMessage.createdAt) <=7 && calculateDiff(user.lastMessage.createdAt) >= 1">
                {{ convertDate(user.lastMessage.createdAt) | date: 'EEE'}}</p>
              <p class="time" *ngIf="calculateDiff(user.lastMessage.createdAt) > 7">
                {{ convertDate(user.lastMessage.createdAt) | date: 'yyyy-MM-dd' }}
              </p>
            </div>
            <div class="have-seen">
              <p *ngIf="user.unreadCount > 0 ">{{ user.unreadCount }}</p>
            </div>
          </div>
          <!--Left -->
        </div>
      </div>
    </div>
  </div>
  <!--Conversation -->
  <!--List conversation -->
  <!-- List User -->
  <div class="list-user tabcontent" id="userlist">
    <div class="list" *ngFor="let user of users" (click)="onSelect(user); openUser('conversation')"
      routerLink='/chat/{{user.id}}'>
      <div id="user" class="users">
        <ngx-avatar size="28" *ngIf="user.firstName" [name]="user.firstName + ' ' + user.lastName"></ngx-avatar>
        <div class="info d-none d-lg-block" style="display: none;width: 262px;">
          <!--Right -->
          <div class="left" style="float: left;">
            <p class="name">{{ user.firstName + ' ' + user.lastName }}</p>
          </div>
        </div>
        <!--Right -->
      </div>
    </div>
  </div>
  <!-- List User -->

</div>
<!--Content -->