<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="/assets/ICON/IconAppChat/20.svg" alt="Open" id="open">
  <img src="/assets/ICON/IconAppChat/18.svg" alt="Icon" id="icon">
  <span id="name">Web Chat Online</span>

  <div id="navbarDropdownMenuLink" id="avatar" class="dropdown dropleft" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <img *ngIf="haveAvatar && loginSuccess" src="user.imageUrl" alt="message-icon">
    <ngx-avatar *ngIf="!haveAvatar" size="34" [name]="fullName" id="avatar"></ngx-avatar>
  </div>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li class="dropdown-item" onclick="document.getElementById('edit-profile').style.display='block'">Edit Profile</li>
    <li class="dropdown-item" [routerLink]="['/login']" (click)="onLogout()">Log Out</li>
  </ul>
</div>
<!-- Chat -->
<router-outlet></router-outlet>
<!-- Footer -->
<footer>
</footer>
<!-- Edit profile -->
<div id="edit-profile" class="modal">
  <form class="modal-content animate" [formGroup]="editForm" (ngSubmit)="onEdit()">
    <div class="container">
      <h1>Edit Form</h1>
      <br>
      <label for="fname"><b>First name</b></label>
      <input type="text" formControlName="firstName" placeholder="Enter your first name" name="fname" required>
      <label for="lname"><b>Last name</b></label>
      <input type="text" formControlName="lastName" placeholder="Enter your last name" name="lname" required>
      <!--<label for="avatar"><b>Avatar </b></label>
      <input type="file" accept="image/*" name="avatar" required>-->
      <button type="submit">Edit</button>
    </div>
    <!-- Cancel Button -->
    <div class="container">
      <button type="button" onclick="document.getElementById('edit-profile').style.display='none'"
        class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>
<!-- Edit profile -->