<!-- Toolbar -->
<div class="toolbar">
    <!-- Bên trái -->
    <div>
        <div id="info">
            <ng-container >
                <ngx-avatar id="avatar" size="32" [name]="user?.firstName + ' ' + user?.lastName"></ngx-avatar>
                <!-- <img [src]="user.photo" alt="Avatar" id="avatar">  -->
            </ng-container>
            <div>
                <p style="font-size: 14px;
                color: #212121; font-weight: 500;">{{ user?.firstName + ' ' + user?.lastName }}</p>
                <p *ngIf="user" class="status" style="font-size: 12px;
                color: #757575;">Đang hoạt động</p>
                <p *ngIf="!user" class="status" style="font-size: 12px;
            color: #757575;">Hoạt động {{ 0 }} phút trước</p>
            </div>
        </div>
    </div>
    <!-- Bên trái -->
    <!-- Bên phải -->
    <div id="icon_info" ng-controller="myCtrl">
        <img src="/assets/ICON/IconAppChat/4.svg" alt="Search" id="info1">
        <img [src]="!isShowDivIf ? '/assets/ICON/IconAppChat/5.svg' : '/assets/ICON/IconAppChat/6.svg'"
            (click)=toggleDisplayDivIf() alt="Info" id="info2">
        <img src="/assets/ICON/IconAppChat/2.svg" alt="Open" id="info3">
    </div>
    <!-- Bên phải -->
</div>
<!-- Toolbar -->
<!-- Content -->
<div id="c3">
    <app-info-chat></app-info-chat>
</div>
<div id="c4">
    <app-main-chat [message] = "messages"></app-main-chat>
</div>
<!-- Content -->