.content{
    display: flex;
}
// List users component
#c1 {
    background-color: #0a1d3b;
    position: relative;
    float: left;
    width: auto;
    height: calc(100vh - 60px);
}
// Chat component
#c2 {
    background-color:  red;
    position: relative;
    float: left;
    flex-grow: 1;
    height: 10vh;
    border-top: 2px solid #d8d5d5;
}
