<div class="content" role="main">
  <!-- LoginForm -->
  <div class="login">
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-form-title">
            <div class="switch">
              <div class="login100-form-title-1" (click)="switchRegister()" [class.line]="switch">
                Sign In
              </div>
              <div class="login100-form-title-1" (click)="switchLogin()" [class.line]="!switch">
                Sign Up
              </div>
            </div>
          </div>
          <!-- LoginForm -->
          <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="switch">
            <div class="wrap-input100 validate-input m-b-26"  [ngClass]="{ 'alert-validate': submitted && f.password.errors }"  data-validate="Username is required">
              <input class="input100" type="text" name="username" placeholder="Enter username"
                formControlName="username">
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-18" [ngClass]="{ 'alert-validate': submitted && f.password.errors }" data-validate="Password is required">
              <input class="input100" type="password" name="pass" placeholder="Enter password"
                formControlName="password">
              <span class="focus-input100"></span>
            </div>

            <div class="flex-sb-m w-full p-b-30">
              <div class="contact100-form-checkbox">
                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                <label class="label-checkbox100" for="ckb1">
                  Remember me
                </label>
              </div>
              <div>
                <a class="txt1">
                  Forgot Password?
                </a>
              </div>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn" type="submit" [disabled]="loading">
                Login
              </button>
            </div>
            <img *ngIf="loading"
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </form>
          <!-- LoginForm -->
          <!-- Resgister Form -->
          <form [formGroup]="registerForm" (ngSubmit)="register()" *ngIf="!switch" class="register">
            <!-- Username -->
            <div class="input-group">
              <input class="input--style-1" type="text" formControlName="username" placeholder="Enter your Username"
                name="uname">
            </div>
            <!-- Firstname + Lastname -->
            <div class="form-row">
              <div class="col" style="border-bottom: 2px solid #ccc;margin-bottom: 30px;">
                <input class="input--style-1" type="text" formControlName="firstName" placeholder="First name"
                    name="fname" [ngClass]="{ 'is-invalid': submitted && rf.firstName.errors }">
              </div>
              <div class="col" style="border-bottom: 2px solid #ccc;margin-bottom: 30px;">
                <input class="input--style-1" type="text" formControlName="lastName" placeholder="Last name"
                    name="lname" [ngClass]="{ 'is-invalid': submitted && rf.lastName.errors }">
              </div>
            </div>
            <!-- Email -->
            <div class="input-group">
              <input class="input--style-1" formControlName="email" placeholder="Email" name="email"
                [ngClass]="{ 'is-invalid': submitted && rf.email.errors }">
            </div>
            <!-- Phone -->
            <div class="input-group">
              <input class="input--style-1" type="text" formControlName="phone" placeholder="Phone number" name="phone"
                [ngClass]="{ 'is-invalid': submitted && rf.phone.errors && rf.phone.errors.pattern }">
            </div>
            <div class="form-row">
              <div class="col" style="border-bottom: 2px solid #ccc;margin-bottom: 30px;">
                <input class="input--style-1" type="text" formControlName="password" placeholder="Password" name="psw"
                    [ngClass]="{ 'is-invalid': submitted && rf.password.errors }">
              </div>
              <div class="col" style="border-bottom: 2px solid #ccc;margin-bottom: 30px;">
                <input class="input--style-1" type="text" formControlName="repassword" placeholder="Re-Password"
                    name="psw" [ngClass]="{ 'is-invalid': submitted && rf.repassword.errors }">
              </div>
            </div>
            <div class="container-login100-form-btn">
              <button class="login100-form-btn" type="submit" [disabled]="loading">
                Register
              </button>
            </div>
            <img *ngIf="loading"
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </form>
          <!-- Resgister Form -->
        </div>
      </div>
    </div>
  </div>